@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap");

.body {
  font-family: "Roboto", sans-serif;
}
.first {
  background: #1f2937;
  color: white;
  padding: 0 100px 70px 100px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header ul {
  display: flex;
  gap: 20px;
}
.header a {
  text-decoration: none;
  color: white;
}
.header .logo {
  font-size: 24px;
  color: #f9faf8;
}
.header .logo:hover {
  cursor: pointer;
}
.header a:hover {
  cursor: pointer;
}
.header ul {
  list-style-type: none;
}
.img_placeholder {
  background: rgb(129, 129, 129);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 230px;
}
.mid_first {
  display: flex;
  gap: 20px;
}
.mid_first h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
  padding-bottom: 0;
  margin-bottom: 0;
}
.mid_first p {
  font-size: 18px;
  color: #e5e7eb;
}
.signup {
  background: rgb(1, 133, 209);
  border-radius: 8px;
  /* box-sizing: ; */
  color: white;
  padding: 10px 25px 10px 25px;
  border: 0px solid rgb(1, 133, 209);
}
/* section TWO */
.two {
  text-align: center;
}
.two .title {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: extra-bold;
  color: #1f2937;
}
.two .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.two .rectangle {
  border: 4px solid #3882f6;
  width: 150px;
  height: 150px;
  border-radius: 15px;
  margin: 10px;
}
.two .info {
  max-width: 180px;
}
/* third section */
.third {
  background: #e5e7eb;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 250px 100px 250px;
}
.third .quote {
  font-size: 36px;
  color: #1f2937;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}
.third .thor {
  display: flex;
  align-self: flex-end;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}
/* Fourth section */
.four {
  padding: 50px 100px 50px 100px;
}
.four .container {
  background: #3882f6;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 20px 100px 20px 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container h3 {
  color: #f9faf8;
}
.container .para,
.container .button {
  color: #e5e7eb;
}
.container .button {
  background: #3882f6;
  padding: 5px 25px 5px 25px;
  border: 2px solid white;
  border-radius: 8px;
  font-size: 18px;
}
/* Fifth Section */
