@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

.body {
  font-family: "Roboto", sans-serif;
}
.first {
  background: rgba(7, 29, 58, 0.959);
  color: white;
  padding: 0 100px 70px 100px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header ul {
  display: flex;
  gap: 20px;
}
.header a {
  text-decoration: none;
  color: white;
}
.header .logo:hover {
  cursor: pointer;
}
.header a:hover {
  cursor: pointer;
}
.header ul {
  list-style-type: none;
}
.img_placeholder {
  background: rgb(129, 129, 129);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 230px;
}
.mid_first {
  display: flex;
  gap: 20px;
}
.mid_first h1 {
  font-size: 42px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.signup {
  background: rgb(1, 133, 209);
  border-radius: 8px;
  /* box-sizing: ; */
  color: white;
  padding: 10px 25px 10px 25px;
  border: 0px solid rgb(1, 133, 209);
}
/* section TWO */
